#root {
  max-width: 1280px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 2rem;
  text-align: center;
  background-color: #fcfcfc;
  font-family: "Playfair", serif;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #3f4045;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border-radius: 5px;

  background-color: white;
  padding: 5px;
  margin: 5px;
  width: 100px;
  height: 25px;
  color: black;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

button:hover {
  color: black;
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid #30292f;
}

button a {
  text-decoration: none;
  color: #000000;
}

button a:hover {
  color: black;
}

input {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  border: none;
}

/* Header */
header {
  align-items: center;
  background-color: #30292f;
  border: 1px solid black;
  padding: 10px;
  color: white;
}

.header-contents h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #fcfcfc;
}

.header-contents button {
  margin: 0;
  margin-left: auto;
}

/* Main Page */
.booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 10px;

  background-color: white;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.booking:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.booking-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 211, 211);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 97%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.welcome-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.new-booking button {
  margin-top: 10px;
  border: none;
}

.new-booking button:hover {
  border: 0.1px solid grey;
}

.welcome-info {
  width: 200px;

  border-radius: 5px;
}

.todays-tides {
  width: 200px;

  border-radius: 5px;
}

/* Config Page */
.location-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5d737e;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 500px;
  overflow: auto;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid #000000;
  background-color: white;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  padding: 10px;
}

.selected {
  background-color: #02111b;
  color: white;
}

.location-confirm button {
  margin-top: 10px;
  border: none;
}

.location-confirm button:hover {
  border: 0.1px solid grey;
}

/* Login Form */
.card-body input {
  border: none;
  margin: 5px;
  height: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card-body button {
  margin-top: 10px;
  border: none;
}

.card-body button:hover {
  border: 0.1px solid grey;
}

/* Signup Form */
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #fcfcfc;
  border-radius: 5px;
  padding: 10px;
}

.signup-form input {
  border: none;
  margin: 5px;
  height: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.signup-form button {
  margin-top: 10px;
  border: none;
}

.signup-form button:hover {
  border: 0.1px solid grey;
}
